
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif
}
body{
    display: flex;
    flex-direction: column;
}
wrap{
    flex: 1;
}
header, section{
    padding: 40px 20%;
}

header, .sign-up, footer{
    background-color: #1f2937;
    color: white;
}


button{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    filter: brightness(80%);
}


/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    color: white;
    display: block;
}

nav ul{
    display: flex;
    gap: 10px;
}

nav ul li{
    display: block;
}
nav ul li:hover{
    cursor: pointer;
    text-decoration: underline 2px #3882F6;
}

.logo{
    color: white;
}

.logo:hover{
    cursor: pointer;
}

/* SIGN UP SECTION  */

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    /* justify-content: space-between; */
}

.sign-sec{
    
    height: auto;
    display: block;

}
.sign-sec tit{
    margin-bottom: 5px;
    font-size: 48px;
    font-weight: 900;
    text-align: justify;
}
.sign-sec p{
    margin-bottom: 5px;
    font-size: 18px;
    text-align: justify;
}
.sign-sec button{
    height: 35px;
    width: 70px;

}
.sign-img{
    height: 200px;
    width: auto;
    text-align: center;
    display: block;
    background: white;
}

/* INFO SECTION */
.info{
    display: block;
}
.info h1{
    margin-bottom: 10px;
    text-align: center;
}
.info-img{
    display: flex;
    justify-content: center;
    gap: 15px;
}
img-cont{
    display: block;
    text-align: center;
    height: 200px;
    width: auto;
    transition: transform .2s;
}
img-cont:hover{
    transform: scale(1.1);
}
img-cont img{
    border-radius: 10px;
    outline: solid 2px #3882F6;
    display: block;
    height: 80%;
    width: 100%;
}

info-desc{
    display: block;
    text-align: center;
}

/* review SECTION */
.review{
    display: block;
    background-color: lightgray;
}
.review .main{
    font-size: large;
    font-style: italic;
}
.review .name{
    text-align: end;
}
/* idk yet */
.idk-yet{
    display: flex;
    justify-content: center;
}
banner{
    border-radius: 10px;
    width: 75%;
    padding: 20px 30px;
    gap: 10px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
}
banner button{
    outline: solid 2px white;
    height: 35px;
    width: 70px;
}
banner-text{
    display: block;
    text-align: justify;
}
/* FOOTER */

footer{
    text-align: center;
    padding: 10px 10px;
}